.container {
  border: outset 1px #dbdbff;
  border-radius: 10px;
  background-color: #b094f8;
  opacity: 0.9;
  width: 350px;
  height: fit-content;
}

.App {
  background-color: #f9f4ff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-weight: 600;
  color: #b79ef9;
}
header {
  text-align: center;
}
.App-link {
  color: #61dafb;
}

a {
  color: lightpink;
  text-decoration: none;
}
a:hover {
  color: rgb(132, 132, 253);
}
footer {
  font-size: 15px;
  font-weight: 400;
}
.dictionary {
  border-radius: 10px;
  background-color: #f7f6fa;
  opacity: 0.9;
  width: fit-content;
  height: fit-content;
}
