.container {
  border: outset 1px #dbdbff;
  border-radius: 10px;
  background-image: url(https://www.oecd-nea.org/upload/docs/image/jpeg/2020-11/book_stack.jpg.associated/th-320x240-book_stack.jpg.jpg);
  opacity: 0.9;
  width: 350px;
  height: fit-content;
}
.App {
  background: radial-gradient(73% 147%, #eadfdf 59%, #ece2df 100%),
    radial-gradient(
      91% 146%,
      rgba(255, 255, 255, 0.5) 47%,
      rgba(0, 0, 0, 0.5) 100%
    );

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-weight: 600;
  color: white;
}
header {
  text-align: center;
}
.App-link {
  color: #61dafb;
}

a {
  color: azure;
  text-decoration: none;
}
a:hover {
  color: rgb(132, 132, 253);
}
footer {
  font-size: 15px;
  font-weight: 400;
}
